

<div class="panel-heading">
  <%= form_for(@pin) do |f| %>
    <% if @pin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

        <ul>
          <% @pin.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <div class="form-group">
        <%= f.label "name of place (ie church)" %>
        <!--<%= f.label :church_name %>-->
        <%= f.text_field :church_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "name of person (ie pastor or worship leader)" %>
         <!--<%= f.label :pastor_or_worship_leader_name %>-->
        <%= f.text_field :pastor_or_worship_leader_name, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= f.label "comment or request (ie prayer request)" %>
         <!--<%= f.label :comment %>-->
        <%= f.text_field :comment, class: "form-control", rows: "2"  %>
      </div>

      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
  <% end %>
</div>
