<%= render 'pages/home' unless user_signed_in? %>
  
   
    <%= form_tag pins_path, :method => 'get' , :id => "pins_search" do %>
      
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "SEARCH", :name => nil, class: "btn btn-default btn-xs" %>
      </p>
      
      <%= sortable "created_at", "Sort by Date" %><br>

   
    <% end %>

</div>
