<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<!--<table class="table table-hover">-->
<!--<div class="panel-body">-->

<!--"created_at", "Date"-->

<div id="pins" class="transitions-enabled">

<!-- <tbody>-->
  <div class="panel panel-default">
    <% @pins.each do |pin| %>
      <div class="box panel panel-default">
          <dl>
            <dt><%= pin.created_at.strftime("%b %d, %Y") %></dt>
            <dt>Church Name</dt>
            <dd><%= pin.Church_Name %></dd>
            <dt>Pastor or Worship Leader Name</dt>
            <dd><%= pin.Pastor_or_Worship_Leader_Name %></dd>
            <dt>Comment</dt>
            <dd><%= pin.comment %></dd>
            <dt>User</dt>
            <dd><%= pin.user.email if pin.user %></dd>
            <dt><%= link_to 'Show', pin_path(pin) %></dt>

            <% if pin.user == current_user %>
              <dt><%= link_to 'Edit', edit_pin_path(pin) %></dt>
              <dt><%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %></dt>
            <% end %>
          </dl>
        </div>
      <% end %>
    </div>
   
    <!--</tbody>-->
  </div>




      <%= will_paginate @pins %>

