<%= render 'pages/home' unless user_signed_in? %>
  
   
    <%= form_tag pins_path, :method => 'get' , :id => "pins_search" do %>
      
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "SEARCH", :name => nil, class: "btn btn-default btn-xs" %>
      </p>
      
      <%= sortable "created_at", "Sort by Date" %><br>

<img src="http://i762.photobucket.com/albums/xx270/akimn89/bentleyblack_zps8cf18620.jpg" style="max-width:100%" alt="Milford Sound in New Zealand" height="300" width="450" />


<img src="http://www.speedhunters.com/wp-content/uploads/2013/12/Lamborghini-Hurac%C3%A1n-LP610-4-03.jpg" style="max-width:100%" alt="Milford Sound in New Zealand" height="300" width="550" border="12"/><br></br>


	<div id="pins">
	    	<%= render 'pins' %>

	<% end %>

</div>


 
 