
<%= link_to 'BACK', pins_path %>
<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<p>
				  <!--<strong>Church Name:</strong><br>-->
				  <h2><%= @pin.church_name %></h2>
				</p>

				<p>
				  <!--<strong>Pastor or Worship Leader Name:</strong><br>-->
				  <h4><%= @pin.pastor_or_worship_leader_name %></h4>
				</p>

				<p>
				  <!--<strong>Comment:</strong>-->
				  <%= @pin.comment %>
				</p>

				<p><h5>
					by <%= @pin.user.name if @pin.user %></h5>
				</p>

				<p>
					<h6><%= @pin.created_at.strftime("%b %d, %Y") %></h6>
				</p>
			</br>

					<% if @pin.user == current_user %>	

					<%= link_to 'EDIT', edit_pin_path(@pin), class: "btn btn-primary btn-xs" %>
				
			</div>
				 
				<% end %>
				
			</div>
		</div>
	</div>
</div>
