
<%= link_to 'BACK', pins_path %>
<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
			<p>
			  <strong>Church Name:</strong><br>
			  <%= @pin.church_name %>
			</p>

			<p>
			  <strong>Pastor or Worship Leader Name:</strong><br>
			  <%= @pin.pastor_or_worship_leader_name %>
			</p>

			<p>
			  <strong>Comment:</strong>
			  <%= @pin.comment %>
			</p>
			<p><strong><%= @pin.user.email if @pin.user %></strong></p>
			<% if @pin.user == current_user %>
				<p><%= link_to 'Edit', edit_pin_path(@pin) %></p> 
			<% end %>
		</div>
	</div>
</div>
</div>
