<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "JUELES MAYFLOWER", root_path, class: "navbar-brand" %>
      <h5>write a review about some clothes, upload an art piece, or something interesting</h5> 
   </div>
       

    
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ART", pieces_path, class: "btn btn-primary" %></li>
        <li><%= link_to "ABOUT", about_path %></li>
        <%if user_signed_in? %>
            <li><%= link_to '+ADD', new_pin_path %></li>
            <li><%= link_to "SETTINGS", edit_user_registration_path %></li>
            <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "SIGN IN", new_user_session_path %></li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->

        
          <img src="http://i762.photobucket.com/albums/xx270/akimn89/JMT13_zpse866e8de.jpg"  style="max-width:100%" alt="The Mayflower" height="58" width="50"/>
          <img src="http://i762.photobucket.com/albums/xx270/akimn89/JMT13_zpse866e8de.jpg"  style="max-width:100%" alt="The Mayflower" height="58" width="50"/>
          <img src="http://i762.photobucket.com/albums/xx270/akimn89/JMT13_zpse866e8de.jpg"  style="max-width:100%" alt="The Mayflower" height="58" width="50"/>
          <img src="http://i762.photobucket.com/albums/xx270/akimn89/JMT13_zpse866e8de.jpg"  style="max-width:100%" alt="The Mayflower" height="58" width="50"/><br><br>
  
         
    
  </nav>